// This is an example of using Sass, otherwise plain CSS works too
$primary-background: white;


body {
  background: $primary-background;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
}

.nav-btn {
  font-family: sans-serif;
  padding: 1% 3%;
  margin: 0;
  border-radius: 2%;
  border: none;
  box-shadow: 1px .5px 3px 0px black;
}

.nav-btn:hover {
  cursor: pointer;
}

.trip-cards-container {
  display: grid;
  padding: .5em;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2em;
  margin-top: .5em;
}

.trip-card {
  border: solid 1px black;
  font-size: .75em;
  border-radius: .5em;
  padding: 1em;
  margin-left: .5em;
  margin-right: .5em;
  box-shadow: .01em .1em .5em black;
}

.img-wrapper {
  height: 100%;
  width: 100%;
}

.trip-img {
  height: 8%;
  width: 100%;
  border-radius: 5%;
}

.click-to-book:hover {
  cursor: pointer;
  color: purple;
}

.cost-modal {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.modal-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px;
  border: 1px solid #888;
  width: 35%;
  height: 20%;
  overflow-y: scroll;
  box-shadow: 0px 7px 29px 0px black;
  margin-bottom: 2%;
}

.trip-costs {
  text-align: center;
  font-family: sans-serif;
  font-size: .8em;
}

.trip-cost,
.trip-cost-per-person {
  font-family: sans-serif;
  font-size: 2.2em;
  margin: 1%;
  color: purple;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  font-size: 2em;
  font-weight: bold;
}

.close-modal:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
