// This is an example of using Sass, otherwise plain CSS works too
$primary-background: white;


body {
  background: $primary-background;
}

.click-to-book:hover {
  cursor: pointer;
  color: purple;
}

.hidden {
  display: none;
}
