// This is an example of using Sass, otherwise plain CSS works too
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Raleway", sans-serif;
  color: #093d39;
  vertical-align: baseline;
  line-height: 1.75;
}

$primary-background: white;


body {
  background: $primary-background;
}

h1 {
  font-size: 2em;
}

h4 {
  font-size: 2em;
  margin-top: 2%;
  text-align: center;
  border-bottom: solid 1px black;
}

h5 {
  margin-left: 1.5%;
  font-size: 2em;
  font-weight: bold;
  margin-top: 1%;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5%;
  border-bottom: solid 1px black;
  padding-bottom: 1.5%;
}

.greeting-msg {
  font-size: 4.6em;
  display: flex;
  margin-right: 3%;
  margin-left: 3%;
}

.cost-logout-section {
  margin-top: -9%;
  float: right;
  text-align: center;
  margin-right: 1.5%;
  border: solid 1px black;
  padding: .5%;
  width: 15%;
}

.logout-btn {
  width: 10%;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 1em;
  font-weight: bolder;
  border-radius: 2%;
  box-shadow: 1px .5px 3px 0px black;
}

.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1%;
}

.nav-btn {
  padding: .5% 2%;
  border-radius: 2%;
  border: none;
  box-shadow: 1px .5px 3px 0px black;
  width: 15%;
  font-size: 1em;
}

.nav-btn:hover,
.logout-btn:hover {
  cursor: pointer;
  color: purple;
}

.trip-cards-container {
  display: grid;
  padding: .5em;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 2em;
  margin-top: .5em;
  width: 100%;
  height: 100%;
}

.trip-card {
  border: solid 1px black;
  font-size: 1em;
  border-radius: .5em;
  padding: 1em;
  margin-left: .5em;
  margin-right: .5em;
  box-shadow: .01em .1em .5em black;
}

.no-trip {
  font-size: 1em;
  margin-left: 4%;
}

.img-wrapper {
  height: 100%;
  width: 100%;
}

.trip-img {
  height: 8%;
  width: 100%;
  border-radius: 5%;
}

.click-to-book:hover {
  cursor: pointer;
  color: purple;
}

.cost-modal
.book-modal {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
}

.modal-content,
.book-modal-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px;
  border: 1px solid #888;
  width: 35%;
  height: 30%;
  overflow-y: scroll;
  box-shadow: 0px 7px 29px 0px black;
}

.trip-costs {
  text-align: center;
  font-family: sans-serif;
  font-size: .8em;
}

.trip-cost,
.trip-cost-per-person {
  font-family: sans-serif;
  font-size: 3em;
  color: purple;
}

.close-modal {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-size: 2.7em;
  font-weight: bold;
  margin-right: 2%;
  margin-top: -5%;
}

.close-modal:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
